.home-container{
    display: grid;
    padding-top: 50px;
    padding-left: 150px;
}

.box {
  position: relative ;
  text-align: left;
  border-radius: 10px;
  color: #F4F4F4;
}

.fixture-tite-container{
  display: flex;
  gap: 100px;
  align-items: center;
  justify-content: space-between;
}


.fixture-tite-container select{ 
  border: none;
  border-radius: 30px;
  height: 40px;
  text-align: center;
  padding: 10px;
}

.fixture-tite-container option{
  background-color: rgb(21, 32, 50);
  color: rgb(196, 190, 190);
}

.fixture-tite-container option:hover{
background-color: rgb(52,65,84);
}

select,::picker(select) {
  appearance: base-select;
}

.live-fixture-container{
  display: flex;
  gap: 50px;
}


.league-select-wrapper {
  position: relative;
  display: flex;
  align-items: center;
  gap: 8px;
}

.selected-flag {
  width: 30px;
  height: 30px;
}
