.match-container {
    display: flex;
    gap: 20px;  
    width: 160vh;
    overflow-x: auto; /* İçerik taşarsa scroll açar */
    white-space: nowrap;
    padding: 20px 10px 20px 10px;   
    height: auto; /* Yükseklik içeriğe göre belirlensin */
}
.match-container {
  --sb-track-color: rgb(30,41,59);
  --sb-thumb-color: rgb(52,65,84);
  --sb-size: 9px;
}

.match-container::-webkit-scrollbar {
  width: var(--sb-size)
}

.match-container::-webkit-scrollbar-track {
  background: var(--sb-track-color);
  border-radius: 3px;
}

.match-container::-webkit-scrollbar-thumb {
  background: var(--sb-thumb-color);
  border-radius: 3px;
  
}