.match-container {
    display: flex;
    gap: 20px;
    width: 92vh;
    overflow-x: auto;
    white-space: nowrap;
    padding: 50px 50px 20px 30px;
    border: 0.5mm solid rgb(52,65,84);
    border-bottom: none;
    border-radius: 30px;
    height: auto;
    box-sizing: border-box;  /* Taşmayı tamamen engeller */
}


.match-container {
  --sb-track-color: rgb(30,41,59);
  --sb-thumb-color: rgb(52,65,84);
}

.match-container::-webkit-scrollbar {
  height: 15px;
}


.match-container::-webkit-scrollbar-track {
  background: var(--sb-track-color);
  border-radius: 30px;
}

.match-container::-webkit-scrollbar-thumb {
  background: var(--sb-thumb-color);
  border-radius: 30px;
  
}
.fixtures-list{
  background-color: rgb(21,32,50);
    border: 0.5mm solid rgb(52,65,84);
    border-radius: 30px;
    padding: 10px;
    height: 280px;
    max-width: 580px;
    overflow-x: auto; /* İçerik taşarsa scroll açar */
    white-space: nowrap;
}

.fixtures-list {
  --sb-track-color: rgb(30,41,59);
  --sb-thumb-color: rgb(52,65,84);
  --sb-size: 9px;
}

.fixtures-list::-webkit-scrollbar {
  width: var(--sb-size)
}

.fixtures-list::-webkit-scrollbar-track {
  background: var(--sb-track-color);
  border-radius: 3px;
}

.fixtures-list::-webkit-scrollbar-thumb {
  background: var(--sb-thumb-color);
  border-radius: 3px;
  
}

.fixture-team-container{
  margin-left: 10px;
}

.fixture{
  margin-top: 15px;
  display: flex;
  gap: 20px;
}

.fixture-team{
  display: flex;
  padding-left: 10px;
  gap: 10px;
  width: 200px;
  border: 0.5mm solid rgb(52,65,84);
  border-top: none;
  border-bottom: none;
}

.fixture-info-icons{
  display: grid;
  background-color: rgb(19, 27, 46);
  grid-template-columns: repeat(3, 1fr);
  border-radius: 30px;
}
.fixture-info-icons p{
  margin-left: 50px;
}

.ref-stad {
  display: flex;
  align-items: center;
  gap: 6px;
  margin-top: 10px;
  width: 100%;
  max-width: 100%;

  /* Yazı taşarsa satır kırılması için */
  overflow-wrap: break-word;
  word-wrap: break-word;
  white-space: normal; 
}


.ref-stad p {
  margin: 0;
  overflow-wrap: break-word;
  word-break: break-word;
  white-space: normal;
  max-width: 100%;
}